.sidebar
	-if current_account != nil then
		%img{:src => "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(current_account.email.downcase)}?s=64"}
		%div{:class => "btn-group"}
			%a{:class => "btn btn-primary", :href => "#{url(:accounts,:view,:id => current_account.id)}"}
				%i{:class => "icon-user icon-white"}
				=current_account.name
			%a{:class => "btn btn-primary dropdown-toggle", "data-toggle" => "dropdown", :href => "#"}
				%span{:class => "caret"}
			%ul{:class => "dropdown-menu"}
				%li
					%i{:class => "i"}
					=link_to "Control Panel", url(:accounts,:index)
				%li
					%i{:class => "i"}
					=link_to "Log Out", url(:accounts,:logout)
		%br
		=current_account.title
	-else
		=link_to "Sign Up", url(:accounts,:create)
		\/
		=link_to "Log In", "#session", "data-toggle" => "modal"
	%br
	%b Browse Forums
	%br
	=link_to "All", url(:forum,:index)
	%br
	%b Favourites
	%br
	=link_to "General", url(:forum,:index)
