.topbar.navbar.navbar-fixed-top
	.navbar-inner
		=link_to "Title", PadrApp.url(:home,:index), :class => :brand
		%ul{:class => :nav}
			-if current_account != nil then
				-if current_account.has_permission? "admin" then
					%li{:class => :dropdown}
						%a{ :class => "dropdown-toggle", "data-toggle" => "dropdown", :href => "#"}
							Admin
							%b{:class => :caret}
						%ul{:class => "dropdown-menu"}
							%li
								=link_to "Users", PadrApp.url(:accounts,:all)
			%li
				=link_to "Home", PadrApp.url(:home,:index)
			%li{:class => :dropdown}
				%a{:class => "dropdown-toggle", "data-toggle" => "dropdown", :href => "#"}
					Blogs
					%b{:class => :caret}
				%ul{:class => "dropdown-menu"}
					%li
						=link_to "Browse", PadrApp.url(:blog,:browse)
						%form{:class => "navbar-search"}
							%input{:type => :text, :class => "search-query", :placeholder => pat(:search)}
			%li{:class => :dropdown}
				%a{:class => "dropdown-toggle", "data-toggle" => "dropdown", :href => "#"}
					Discussions
					%b{:class => :caret}
				%ul{:class => "dropdown-menu"}
					%li
						=link_to "Browse", PadrApp.url(:forum,:browse)
						%form{ :class => "navbar-search pull-left"}
							%input{:type => :text, :class => "search-query", :placeholder => pat(:search)}
			%li{:class => :dropdown}
				%a{:class => "dropdown-toggle", "data-toggle" => "dropdown", :href => "#"}
					-if current_account != nil then
						=current_account.name
					-else
						Account
					%b{:class => :caret}
				%ul{:class => "dropdown-menu"}
					-if current_account != nil then
						%li
							=link_to "Blog",	PadrApp.url(:blog,:index)
							=link_to "Control Panel", PadrApp.url(:accounts,:index)
							=link_to "Log Out", PadrApp.url(:accounts,:logout)
					-else
						%li
							=link_to "Log In", "#session", "data-toggle" => "modal"
							=link_to "Create Account", PadrApp.url(:accounts,:create)
