.forum
	%h2
		Discussions
	-if current_account != nil then
		=link_to I18n.t("forum.New_Discussion"), "#discussion", :class => :btn, "data-toggle" => :modal
	%table{:class => "table table-hover"}
		%tr
			%th
				=I18n.t("Subject")
			%th
				=I18n.t("Posts")
			%th
				=I18n.t("Views")
	
		-@discussions.each do |thread|
			%tr{:id => :post, :onclick => "window.location='#{PadrApp.url(:forum,:view,:id => thread.id)}';"}
				%td
					-if current_account != nil then
						-if current_account.has_permission?("thread_delete") then
							=submit_tag I18n.t("Delete"), :class => "btn btn-small btn-danger", :onclick => "window.location='#{url(:forum,:destroy,:id => thread.id)}';"
					=link_to thread[:title], PadrApp.url(:forum, :view, :id => thread.id)
					%br
					Posted by
					=link_to thread.account[:name], PadrApp.url(:accounts,:view, :id => thread.account[:_id])
				%td
					=thread.posts.count
				%td
					=thread.views
	
	%br
	
	-if current_account != nil then
		=link_to I18n.t("forum.New_Discussion"), "#discussion", :class => :btn, "data-toggle" => :modal
	%br

-if current_account != nil then
	=partial "forum/new"
