.forum
	%h2
		Discussions

	=link_to "New Discussion", PadrApp.url(:forum,:new)	
	%br
	%table
		%tr
			%th
				Title
			%th
				Posts
			%th
				Views
	
		- @discussions.each do |thread|
			%tr{:id => 'post'}
				%td
					=link_to thread[:title], PadrApp.url(:forum, :view, :id => thread.id)
					-if current_account != nil then
						-if current_account.role == "admin" then
							=submit_tag pat(:delete), :class => :button, :onclick => "window.location='#{url(:forum,:destroy,:id => thread.id)}';"
					%br
					Posted by
					=link_to thread.account[:name], PadrApp.url(:accounts,:view, :id => thread.account[:_id])
				%td
					=thread.posts.count
				%td
					=thread.views
	
	%br
	
	=link_to 'New Discussion', url(:forum,:new)
	%br
