.forum
	%h2
		Discussions

	=link_to "New Discussion", PadrApp.url(:forum,:new), :class => :btn
	%br
	%table{:class => :table}
		%tr
			%th
				Title
			%th
				Posts
			%th
				Views
	
		-@discussions.each do |thread|
			%tr{:id => :post}
				%td
					-if current_account != nil then
						-if current_account.role == "admin" then
							=submit_tag pat(:delete), :class => "btn btn-small btn-danger", :onclick => "window.location='#{url(:forum,:destroy,:id => thread.id)}';"
					=link_to thread[:title], PadrApp.url(:forum, :view, :id => thread.id)
					%br
					Posted by
					=link_to thread.account[:name], PadrApp.url(:accounts,:view, :id => thread.account[:_id])
				%td
					=thread.posts.count
				%td
					=thread.views
	
	%br
	
	=link_to "New Discussion", PadrApp.url(:forum,:new), :class => :btn
	%br
