%h2
	Discussions

=link_to "New Discussion", url(:forum,:new)	
%br

- @discussions.each do |thread|
	=link_to thread[:title], url(:forum, :view, :id => thread[:_id])
	%br

=link_to 'New Discussion', url(:forum,:new)
%br
