-if current_account == nil then
	-redirect url(:accounts,:new)
%h2
	Create new discussion
-form_tag(url(:forum,:create), :class => :form ) do 
	.group
		%label Title
		=text_field_tag :title, :value => params[:title], :class => :text_field
		%span.description Discussion Title
	
	.group
		%label Body
		=text_area_tag :body, :value => params[:body], :class => :text_area, :id => :editable
		%span.description

	.group
		=submit_tag pat(:create), :class => :button
		=submit_tag pat(:cancel), :onclick => "window.location='#{url(:forum,:index)}';return false", :class => :button
