%h2
	Create new discussion
%form{:action => '/forum/create', :method => 'POST'}
	%input{:type => 'textbox', :class => 'edit', :name => 'title'}


:javascript
	Aloha.ready( function() {
		Aloha.jQuery('input#edit').aloha();
	});
