@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
	padding-top: 40px;
	background-color: #FFFFFF;
	// Below url is a placeholder. Hosted on another site of mine.
	background: url(http://mastersrp.kodingen.com/img/bg_test1_content.png) repeat;
	font-family: 'Open Sans', sans-serif;
}
div#header {
	height: 100px;
}
div#navbar{
}
div#content {
	background-color: #FFFFFF;
	padding: 0.5em;
	min-height: 15em;
	min-width: 15em;
	border-color: #0071C2;
	border-width: 1px;
	border-style: solid;
}
div.forum {
}
div.post {
	clear: both;
	background-color: #FFFFFF;
	padding: 0.5em;
	min-height: 15em;
	min-width: 15em;
	border-color: #0071C2;
	border-width: 1px;
	border-style: solid;
	border-color: gray;
	border-width: 1px;
	border-style: dotted;
}
div.user {
	float: left;
}
div.content {
	background-color: #FFFFFF;
	/*color: #FFFFFF;*/
}
div#footer {
	background-color: #FFFFFF;
	padding: 0.2em;
	margin-top: 0.5em;
	border: 0 0 0 0;
	border-color: #0071C2;
	border-width: 1px;
	border-style: solid;
}

div.sidebar {
	//background-color: #FFFFFF;
	padding: 0.5em;
	width: 10em;
	min-height: 15em;
	border-color: #0071C2;
	border-right-color: #005591;
	border-width: 1px;
	border-style: solid;
	clear: all;
	float: left;
}

div.session {
	padding: 5px;
}
div.modal {
	background-color: #FFFFFF;
}
