!!!
%html
	%head
		%meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
		=stylesheet_link_tag 'aloha'
		=javascript_include_tag 'application', 'jquery', 'require', 'aloha'
		%title
			=@title
	%body
		#header
		#content
			.sidebar
				%input{:type => 'text', :list => 'subapps', :id => 'changeApp', :onChange => "changeApp(this.value)"}
				%datalist{:id => 'subapps' }
					- Padrino.mounted_apps.each do |app|
						%option{:value => app.name}
							=app.uri_root
				%br
				-p current_account
				- if current_account != nil then
					=current_account[:name]
					=current_account[:avatar]
					=current_account[:title]
					=link_to "Control Panel", PadrApp.url(:accounts,:index)
					=link_to "Log Out", PadrApp.url(:accounts,:logout)
				- else
					=link_to "Sign Up", PadrApp.url(:accounts,:index)
					\/
					=link_to "Log In", PadrApp.url(:accounts,:index)
			=yield
		#footer
			%p
				Design and backend software by
				%a{:href => 'http://necrophcodr.co.cc'} necrohpcodr
				
		:javascript
			Aloha.ready(function(){
				Aloha.jQuery("#editable").aloha();
			});
			var changeApp = function(elm){
				// Redirect user to ' url(elm) '
			}
