!!!
%html
	%head
		%meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
		=stylesheet_link_tag 'aloha'
		=javascript_include_tag 'application', 'jquery', 'require', 'aloha'
		%title
			padrApp
	%body
		#header
		%ul
			%li
				=link_to 'Home', '/'
			- Padrino.mounted_apps.each do |app|
				- if app.uri_root == '/' then next	
				- else
					%li
						=link_to app.name, app.uri_root
			- if current_account != nil then
				%li
					=link_to current_account.name, PadrApp.url(:accounts,:index)
					(
					=current_account.balance
					Credits )
					=link_to 'Log out', PadrApp.url(:accounts,:logout)
			- else
				%li
					=link_to 'Account', PadrApp.url(:accounts,:index)
		#content
			=yield
		#footer
			%p
				Design and backend software by
				%a{:href => 'http://necrophcodr.co.cc'} necrohpcodr
				
		:javascript
			Aloha.ready(function(){
				Aloha.jQuery("#editable").aloha();
			});
