.blog{:id => :blog, :class => "modal hide fade", :tabindex => -1, :role => :dialog, "aria-labelledby" => "blogLabel" }
	.header{:class => "modal-header"}
		%button{:type => :button, :class => :close, "data-dismiss" => :modal}
			&times;
		%h3{:class => "blogLabel"}
			New Blog Entry

	-form_for :entry, PadrApp.url(:blog,:create), :class => :form do |f|
		.group
			=f.label :title
			=f.error_message_on :title
			=f.text_field :title, :class => :span3
	
		.group
			=f.label :body
			=f.text_area :body, :class => :span3

		.group
			=f.submit pat(:create), :class => "btn btn-primary"
			=f.submit pat(:cancel), :class => :btn, "data-dismiss" => :modal, "aria-hidden" => true
