.blog
	=link_to "New Entry", "#blog", :class => :btn, "data-toggle" => :modal
	%br

	-Entry.all.each do |entry|
		-if entry.account[:_id] != current_account[:_id] then next end
		.entry
			=link_to entry[:title], PadrApp.url(:blog,:view,:id => entry.id)
			.content
				=entry[:body]
			Posted on
			=entry[:created_on].to_s
	%br
	=link_to "New Entry", "#blog", :class => :btn, "data-toggle" => :modal
	%br

=partial "blog/new"
