%h2{:name => @entry.id}
	=@entry[:title]
-if current_account == @entry.account then
	-if current_account.role == "admin" then
		=link_to pat(:edit), "", :class => :btn, :onclick => "editTitle();"
	
.post{:name => @entry.id}
	.container-fluid
		.row-fluid
			.user.span2
				-@account = @entry.account
				=partial "base/user"
			.content.span8
				=@entry[:body]
		%br
		%p
			Posted on:
			=@entry[:created_on]
