Welcome to SITE,
=@info[:username]
%br
Your email adress,
=@info[:email]
has been used to register an account on our site.
%br
Your password has been set to 
=@info[:password]
%br
Please log in and change it.
