!!!
%html
	%head
		%meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
		=stylesheet_link_tag 'desktop'
		=javascript_include_tag 'application', 'jquery', 'require'
		-if current_account != nil then
			=stylesheet_link_tag 'aloha', 'aloha-core'
			%script{:src => '/javascripts/aloha.js', 'data-aloha-plugins' => "common/ui,common/format,common/list,common/link,common/highlighteditables"}
		%title
			PadrApp
	%body
		#header
		.flash=[:error,:warning,:notice].map { |type| flash_tag(type,:class => "message #{type}") }.join
		=partial("base/sidebar")
		#content
			=yield
		#footer
			%p
				Copyright &copy;
				=Time.now.year
				%a{:href => 'http://necrophcodr.co.cc'} necrohpcodr
		-if current_account != nil		
			:javascript
				Aloha.ready(function(){
					Aloha.jQuery("#editable").each(function(index){
						Aloha.jQuery(this).aloha();
					});
				});
				var changeApp = function(){
					// var option = $("input#changeApp").attr("selected")
				}
		=javascript_include_tag 'https://login.persona.org/include.js'
