!!!
%html
	%head
		%meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
		=stylesheet_link_tag "bootstrap.min", "desktop"
		=javascript_include_tag 'application', 'jquery', 'require', "bootstrap.min"
		-if current_account != nil then
			=stylesheet_link_tag 'aloha', 'aloha-core'
			%script{:src => '/javascripts/aloha.js', 'data-aloha-plugins' => "common/ui,common/format,common/list,common/link,common/highlighteditables"}
		%title
			PadrApp
	%body{ "data-spy" => "scroll", "data-target" => ".navbar" }
		.container
			#header
				=partial "base/topbar"
			.flash=[:error,:warning,:notice].map { |type| flash_tag(type,:class => "message #{type}") }.join
			=#partial "base/sidebar"
			#content
				=yield
			-if current_account == nil then
				=partial("accounts/session")
			#footer
				%small
					Copyright &copy;
					=Time.now.year
					=link_to "necrophcocr", "http://necrophcodr.herokuapp.com"
				%br
				%small
					Icons Copyright &copy; 2010-2012
					=link_to "Glyphicons", "http://glyphicons.com/"
		:javascript
			Aloha.ready(function(){
				Aloha.jQuery("#editable").each(function(index){
					Aloha.jQuery(this).aloha();
				});
			});
			var changeApp = function() {}
			var post_to_url(path,params,method) {
				method = method || "post";
				var form = document.createElement("form");
				form.setAttribute("method",method);
				form.setAttribute("action",path);
				for(var key in params) {
					if( params.hasOwnProperty(key) ){
						var hiddenField = document.createElement("input");
						hiddenField.setAttribute("type","hidden");
						hiddenField.setAttribute("name",key);
						hiddenField.setAttribute("value",params[key]);

						form.appendChild(hiddenField);
					}
				}

				document.body.appendChild(form);
				form.submit();
			}

			navigator.id.watch({
				onlogin: function(assertion) {
					post_to_url("/accounts/login",{"assertion":assertion});
				},
				onlogout: function() {
					window.location = "/accounts/logout";
				}
			});
		=javascript_include_tag 'https://login.persona.org/include.js'
