!!!
%html
	%head
		%meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
		=stylesheet_link_tag 'aloha'
		=javascript_include_tag 'jquery'
		=javascript_include_tag 'require'
		=javascript_include_tag 'aloha'
		%title padrApp
	%body
		#header
		%ul
			%li
				=link_to 'Home', url(:home,:index)
			%li
				=link_to 'Forum', url(:forum,:index)
			- if current_account != nil then
				%li
					=link_to current_account.name, url(:accounts,:index)
					=link_to 'Log out', url(:accounts,:logout)
			- else
				%li
					=link_to 'Account', url(:accounts,:index)
		#content
			=yield
		#footer
			%p
				Design and backend software by
				%a{:href => 'http://necrophcodr.co.cc'} necrohpcodr
				
		:javascript
			Aloha.ready(function(){
				Aloha.jQuery("#editable").aloha();
			});
