- if current_account == nil then
	- redirect '/account/new'
- else
	
	%form{:action => '/account/update', :method => 'POST'}
		%label
			User name
			- if current_account[:balance] < 10.0
				=link_to '(Purchase)', '/shop/account'
		%br
		%input{:type => 'text', :name => 'name', :value => current_account.name}
		%br
		%label
			Title
			- if current_account[:balance] < 5.0
				=link_to '(Purchase)', '/shop/account'
		%br
		%input{:type => 'text', :name => 'title', :value => current_account.title}
		%br
		%label
			Email
		%br
		%input{:type => 'text', :name => 'email', :value => current_account.email}
		%br
		%label
			New password
		%br
		%input{:type => 'password', :name => 'new_password'}
		%br	
		%label
			Confirm new password
		%br
		%input{:type => 'password', :name => 'new_password_confirm'}
		%br
		%label
			Current password (enter this to update your settings)
		%br
		%input{:type => 'password', :name => 'current_password'}
		%br
		- if Padrino.env == :development
			%label
				Balance
			%br
			%input{:type => 'text', :name => 'balance'}
		%br
		%input{:type => 'submit'}
