- if current_account == nil then
	- redirect url(:accounts,:new)
- else

	-form_for :account, url(:accounts,:update,:id => current_account.id), :method => :put, :class => :form do |f|
		=partial "accounts/form", :locals => {:f => f}
