- if @account == nil
	%h2
		The account you requested could not be found!
	%h3
		Given id:
		=@id
- else
	%h2
		=@account[:name]
		(
		=@account.balance
		BTC )
	%p
		Title:
		=@account[:title]
	%p
		Email: 
		=@account[:email]
