- if current_account == nil
	%h2
		The account you requested could not be found!
	%h3
		Given id:
		=params[:id]
- else
	%h2
		=current_account[:name]
	=link_to "Blog", PadrApp.url(:blog,:index)
	%p
		Title:
		-if current_account[:title] == nil then
			=pat(current_account[:role])
		-else
			=current_account[:title]
	%p
		Email: 
		=@account[:email]
