- if @account == nil
	%h2
		The account you requested could not be found!
	%h3
		Given id:
		=params[:id]
- else
	.span3
		=partial "base/user"
	%br
	.span3
		=link_to I18n.t("Blog"), PadrApp.url(:blog,:index)
	%br
	.span3
		%p
			=I18n.t("account.Email")
			=@account[:email]
